# You can also use environment variables, for example: ENV_VERSION=0.0.1 or  ENV_LOG_LEVEL=debug
application:
  name: "apiGo-template"
  version: "alpha"

server:
  HTTPPort: 80
  readTimeout: 60
  writeTimeout: 60

log:
  level: debug
  filePath: "./logs/log.log"
  omitTimeKey: false

database:
  driver: mysql
  host: 127.0.0.1:3306
  name: apiGo?charset=utf8mb4&parseTime=True&loc=Local
  user: root
  password: password
  maxopenconns: 10
  maxidleconns: 10
  migrationFolder: ./sql
  logLevel: 1 #Use logger.logLevel

cache:
  host: 127.0.0.1:6379
  db: 0
  password:
